@import-normalize;

* {
  box-sizing: border-box;
}

body {
  padding: 20px 40px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}
